<mat-card class="results mat-elevation-z2">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>{{"search.button" | translate}}</mat-label>
    <input matInput [(ngModel)]="query" (keyup.enter)="search()" [placeholder]="'search.placeholder' | translate">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="search()">{{"search.button" | translate}}</button>
  <mat-card *ngIf="books && books.length !== 0" class="books mat-elevation-z4">
    <mat-card *ngFor="let book of books" class="book mat-elevation-z4">
      <img [src]="'https://covers.openlibrary.org/b/isbn/' + book.isbn + '-S.jpg'" />
      {{book.title}}
    </mat-card>
  </mat-card>

  <h1 *ngIf="books && books.length === 0">{{"search.no_result" | translate}}</h1>
</mat-card>
