<mat-card class="login">
  <mat-card-title>{{'login.title' | translate}}</mat-card-title>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput [(ngModel)]="login">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>password</mat-label>
    <input matInput [(ngModel)]="password" type="password">
  </mat-form-field>
  <mat-error *ngIf="loginError">
    Email or Password is wrong!
  </mat-error>
  <mat-error *ngIf="emptyInputError">
    Email and Password is required!
  </mat-error>

  <button mat-raised-button color="primary" (click)="loginUser()">{{'login.button' | translate}}</button>
</mat-card>
