<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="clickable" (click)="goTo('/')">{{"search.title"|translate}}</span>

      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">{{selectedLanguage}}</button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let language of languages" (click)="selectLanguage(language)" mat-menu-item>{{language}}</button>
      </mat-menu>

      <button
        type="button"
        aria-label="Toggle sidenav"
        (click)="goTo('/login')"
        mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">directions_walk</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
