<mat-card class="add-book">
  <mat-card-title>{{(editedBook)?"Edit Book":"Add New Book"}}</mat-card-title>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="title">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>ISBN</mat-label>
    <input matInput [(ngModel)]="isbn">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Authors</mat-label>
    <input matInput [(ngModel)]="authors"  placeholder="eg. author1, author2">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Publish year</mat-label>
    <input matInput [(ngModel)]="publishYear">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Genres</mat-label>
    <input matInput [(ngModel)]="genres" placeholder="eg. sci-fi, fiction, non-fiction">
  </mat-form-field>

  <mat-error *ngIf="publishYearError">
    Publish year must be a positive number!
  </mat-error>
  <mat-error *ngIf="emptyInputError">
    All fields are requried!
  </mat-error>

  <button *ngIf="!editedBook" mat-raised-button color="primary" (click)="addNewBook()">Create new book</button>
  <button *ngIf="editedBook" mat-raised-button color="primary" (click)="editBook()">Save changes</button>
</mat-card>
