<div class="content">
  <table mat-table [dataSource]="books" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let book"> {{book._id}} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let book"> {{book.title}} </td>
    </ng-container>

    <!-- publishYear Column -->
    <ng-container matColumnDef="publishYear">
      <th mat-header-cell *matHeaderCellDef> Publish Year </th>
      <td mat-cell *matCellDef="let book"> {{book.publishYear}} </td>
    </ng-container>

    <!-- Authors Column -->
    <ng-container matColumnDef="authors">
      <th mat-header-cell *matHeaderCellDef> Authors </th>
      <td mat-cell *matCellDef="let book"> {{book.authors}} </td>
    </ng-container>

    <!-- Genres Column -->
    <ng-container matColumnDef="genres">
      <th mat-header-cell *matHeaderCellDef> Genres </th>
      <td mat-cell *matCellDef="let book"> {{book.genres}} </td>
    </ng-container>

    <!-- ISBN Column -->
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let book"> {{book.isbn}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let book">
        <button mat-icon-button color="primary" (click)="editBook(book)" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteBook(book)" >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="borrow">
      <th mat-header-cell *matHeaderCellDef> Borrowing </th>
      <td mat-cell *matCellDef="let book">
        <app-borrow [borrowed] = "isBorrowed(book)"
          [bookId] = "book._id" (onBookAction)="loadData()">
        </app-borrow>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
