  <mat-form-field *ngIf="!borrowed" class="full-width" appearance="fill">
    <mat-label>User</mat-label>
    <mat-select (selectionChange)="onSelect($event.value)">
      <mat-option *ngFor="let user of users$ | async" [value]="user">
        {{user.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button *ngIf="borrowed" (click)="onReturn()" mat-raised-button color="primary">Book Returned</button>
